/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/


/* SELECT  2 */
.bootstrap-select .btn-light{
    background-color: transparent;
    font-size: 0.875rem;
    border-color: #e1e8ed;
    color: #495057;
}
/* SELECT  2 END*/


