/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/

.overflow-hidden{
    overflow: hidden!important;
}
h3 a{
    color:#333333;
}
h3 a:hover{
    color:#e74e84;;
}
/* SELECT  2 */
.bootstrap-select .btn-light{
    background-color: transparent;
    font-size: 0.875rem;
    border-color: #e1e8ed;
    color: #495057;
}

#custom-search-input{
    width: auto;
}
#custom-search-input .btn.dropdown-toggle{ 
    width: 100%;
    height: 50px;
    vertical-align: middle;
    line-height: 37px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 98%;
    font-size: 1rem;
    color: #333;
}
#custom-search-input .dropdown.bootstrap-select{
    width: 100%;
}
#custom-search-input input[type='submit']{
    width: 100%;
    position: static;
}
#custom-search-input ul.dropdown-menu li{
    display: block;
}
.typeahead {
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 98%;
    font-weight: 500;
}

.tt-menu{
    background: white;
    color: black;
    width: 100%;
    text-align: left;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) ;
}

.tt-menu .tt-suggestion.tt-selectable{
    padding: 7.5px 15px;
    font-size: 17px;
}

.tt-menu .tt-suggestion.tt-selectable:hover{
    cursor: pointer;
    background-color:#e1e8ed;
    padding: 15px;
}
.twitter-typeahead{width: 100%;}
.twitter-typeahead .tt-menu{z-index: 500!important;}
/* SELECT  2 END*/

/* WORDPRESS PAGINATION */
.page-numbers{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
}
.page-numbers .page-numbers{
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    color: #e74e84;
    border: 1px solid #e1e8ed;
    position: relative;
    display: block;
    margin-left: -1px;
    background-color: #fff;
    border-radius: 0;
}
.page-numbers .page-numbers.current{
    background-color: #3f4079;
    border-color: #3f4079;
    z-index: 1;
    color: #fff;
}
.page-numbers .page-numbers:not(:disabled):not(.disabled) {
    cursor: pointer;
}


/* WORDPRESS PAGINATION END */


/* MAP */
#leaflet-map-1 { 
    min-height: 488px; 
}
/* MAP END*/


/* Reviews */
.glsr-review{
    padding: 25px;
    border: 1px solid #ededed;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.glsr-review-title{
    margin-bottom: 0;
}
.glsr-review-title h3{
    font-size: 14px;
}
.glsr-default .glsr-review>div {
    margin-bottom: 5px;
}
.reviews-container .glsr-default .glsr-review {
    margin-bottom: 15px;
}
.page-numbers {
    margin-right: 5px;
}
.glsr-navigation {
    margin-bottom: 15px;
}
.glsr-navigation .nav-links {
   display: flex;
}
.rating .shortcode-site-reviews-summary{
    display: inline-block;
}
.rating .shortcode-site-reviews-summary .glsr-default .glsr-summary-stars .glsr-star {
    width: 15px;
    height: 15px;
    background-size: 15px;
    margin-right: 5px;
}
.rating .glsr-ltr .glsr-default .glsr-summary-rating, .rating .glsr-ltr .glsr-default .glsr-summary-stars {
    margin-right: 0px;
}
/* Reviews END*/

.wpcf7-form-control-wrap.message {
    background-color: transparent;
    padding: 0px;
    margin-bottom: 0px;
    border-radius: 0px;
}

.my-list{
    list-style: disc;
    padding-left:15px;
}


/* Medium Desktop */

@media only screen and (min-width: 992px) and (max-width: 1199px){
    footer .contacts li {
        font-size: 13px;
    }
}